.modal__container_preview {
  max-width: 75vw;
  max-height: 75vw;
  height: auto;
  width: auto;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.preview__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.preview-close-modal-button {
  top: 0;
}

@media screen and (max-width: 660px) {
  .preview-close-modal-button {
    width: 30px;
    height: 30px;
    top: 40px;
    left: calc(100% + 5px);
  }
}
